@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Rajdhani:wght@400;600;700&family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-100 text-slate-900 antialiased;
    min-height: 100vh;
    font-family: Inter, Poppins, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: Orbitron, Rajdhani, ui-sans-serif, system-ui;
  }

  input,
  button,
  select,
  textarea {
    @apply font-sans;
  }
}

